@font-face {
  font-family: "American Typewriter";
  src: url(/fonts/FontsFree-Net-american-typewriter-1.ttf) format("truetype");
}

@font-face {
  font-family: "Montserrat";
  src: url(/fonts/Montserrat-Medium.ttf) format("truetype");
}
html,
body {
  scroll-behavior: smooth;

  margin: 0px;
  padding: 0px;
}

body {
  min-height: 100vh;
  font-family: "Montserrat", "Gill Sans MT", "Gill Sans", Calibri,
    "Trebuchet MS", sans-serif;
  background-color: #fcfcfc;
  color: #707070;
  display: flex;
  flex-direction: column;
}

main {
  margin-top: 75px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "American Typewriter", "Times New Roman", Times, serif;
  margin: 0px;
  font-size: 2em;
}

h1 {
  margin: 15px 0px;
  font-size: 2em;
}

a {
  text-decoration: none;
  color: #707070;
}

header {
  display: grid;
  grid-template-columns: 200px 1fr;
  align-items: self-end;
}

.logo {
  align-self: center;
}

.logo img {
  width: 150px;
  justify-self: center;
}

footer {
  text-align: center;
  margin-top: auto;
  width: 100%;
}

.some img {
  width: 30px;
  height: 30px;
  margin: 0px 15px;
}

/* Loader */
.lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.lds-ripple div {
  position: absolute;
  border: 4px solid  #010d26;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  4.9% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  5% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}


/* NAV DROPDOWN */

.header {
  position: fixed;
  width: 100%;
  min-height: 75px;
  z-index: 3;
  background-color: #fff;
}

.menu {
  padding: 0;
  overflow: hidden;
  background-color: #fff;
  clear: both;
  max-height: 0;
  transition: max-height 0.2s ease-out;
  margin-top: 18px;
}

li {
  list-style: none;
  margin: 0px;
  margin: 0;
  padding: 0;
}

.list-item {
  display: block;
  padding: 20px 20px;
}

.menu-icon {
  cursor: pointer;
  display: inline-block;
  padding: 28px 20px;
  position: relative;
  justify-self: end;
}

.menu-icon .navicon {
  background: #000000;
  display: block;
  height: 2px;
  position: relative;
  transition: background 0.2s ease-out;
  width: 18px;
}

.menu-icon .navicon:before,
.menu-icon .navicon:after {
  background: #000000;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.menu-icon .navicon:before {
  top: 5px;
}

.menu-icon .navicon:after {
  top: -5px;
}

.menu-btn {
  display: none;
}

.menu-btn:checked ~ .menu {
  max-height: 275px;
}

.menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

#active {
  text-decoration: underline;
}

/*Front page */

.fp-welcome {
  margin: 15px 15px;
}

.fp-1 h2 {
  justify-self: left;
  margin-left: 15px;
}

.fp-1,
.allpost-view {
  display: grid;
  place-items: center;
}

.fp-1 {
  margin-top: 40px;
}

.fp-1-slider {
  width: 100%;
  height: 170px;
  position: relative;
  overflow: hidden;
}

.slide {
  width: 100%;
  height: 160px;
}

.slide {
  position: absolute;
  transition: all 0.5s;
}

.slide-outer {
  padding: 15px;
}

.slide-inner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  box-shadow: 0px 0px 4px 0 rgba(0, 0, 0, 0.1);
}

.slide-inner img {
  width: 150px;
  height: 150px;
}

.slide-selector {
  text-align: center;
  display: grid;
  grid-template-columns: 100px 100px;
  justify-content: center;
  margin-bottom: 30px;
}

.btn {
  display: none;
  background: none;
  border: none;
}

.btn img {
  height: 35px;
  width: 35px;
}

.btn:active {
  transform: scale(1.1);
}

.btn-prev {
  top: 45%;
  left: 2%;
}

.btn-next {
  top: 45%;
  right: 2%;
}


.postTitle {
  font-size: 1em;
  text-align: left;
  padding: 4px;
}

.postImg {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  justify-self: end;
}

/* Contact */

.contact_form h1 {
  text-align: center;
  margin-bottom: 20px;
}

.contact_cta,
.btn-style {
  display: block;
  background-color: #010d26;
  color: #fff;
  width: 200px;
  height: 50px;
}

input,
select,
textarea,
.btn-style {
  border-radius: 5px;
  border: 1px solid #010d26;
  margin: 10px 10px 10px 0px;
  padding: 10px;
}

textarea {
  height: 300px;
}

.contact_form {
  font-family: "Montserrat", "Gill Sans MT", "Gill Sans", Calibri,
    "Trebuchet MS", sans-serif;
  max-width: 1000px;
  margin: auto 20px;
}
.contact_cta {
  max-width: 1000px;
  margin: auto;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
}

.form-wrapper > * {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.formerror {
  display: none;
  color: red;
  font-size: 0.9rem;
  margin-top: 2px;
}

.verification {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-gap: 50px;
  text-align: center;
  padding: 50px;
}

.verification a {
  text-decoration: underline;
  font-size: 1.5em;
}

/* My Journey */

.myj-header-img {
  height: 290px;
  width: 100%;
}

.myj-1-container {
  display: grid;
  grid-template-columns: 1fr;
  margin: 0px 20px;
}

.myj-1-container img {
  justify-self: center;
  height: 200px;
  width: 100%;
  box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.1);
}

.myj-2-container {
  display: grid;
  grid-template-columns: 170px 1fr;
  margin: 80px 20px;
}

.myj-2-container img {
  height: 113px;
  width: 170px;
}

.myj-po-sign {
  align-self: end;
}

.myj-po-sign p {
  margin: 5px;
  font-size: 10px;
}

.myj-po-sign h2 {
  margin: 5px;
  font-size: 20px;
}

.myj-site-img {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 7px;
  margin: 50px auto;
}

.textContainer {
  letter-spacing: 1px;
  line-height: 25px;
}

/* Spesific Post */

.spesificPost {
  max-width: 1200px;
}

.spesificPost img {
  max-width: 1000px;
  height: auto;
}

.spesificPost h2 {
  font-size: 50px;
}

/* Articles */

.allposts {
  margin-bottom: 18px;
  width: 100%;
  height: 120px;
}

.allpost-heading {
  text-align: center;
  margin: 40px 0px;
}

.btn-style {
  display: none;
  margin: 40px auto;

}

.allposts-outer {
  padding: 10px;
}

.allposts-inner {
  display: grid;
  grid-template-columns: 1fr 152px;
  box-shadow: 0px 0px 4px 0 rgba(0, 0, 0, 0.1);
  padding: 10px;
}

.allposts-inner img {
  width: 100px;
  height: 100px;
}

/* Spesific Post */

#spesificPost {
  margin: 80px 20px;
}

#spesificPost h1 {
  padding: 15px;
  font-size: 2.5em;
}

.spesificPost img {
  width: 100%;
}

.info {
  font-size: 10px;
  padding: 7px 0px;
  margin: 0px;
}

/* Modal */

.modal {
  display: none;
  position: fixed; 
  z-index: 1;
  padding-top: 50px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4); 
}

.modal-content {
  margin: auto;
  text-align: center;
}

#modal-image {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-content img {
  width: 200px;
  height: auto;
}

@media (min-width: 600px) {
  .postTitle {
    font-size: 1.5em;
  }

  .allposts-inner img {
    width: 150px;
    height: 150px;
  }

  .slide-selector {
    margin-top: 0px;
  }

  .allposts {
    height: 170px;
  }

  .allposts-inner {
    grid-template-columns: 1fr 160px;
  }

  .fp-1-slider {
    height: 330px;
  }

  .slide-inner img {
    width: 300px;
    height: 300px;
  }

  .slide-inner a {
    font-size: 2.5em;
  }

  .modal-content img {
    width: 400px;
    height: auto;
  }

}


@media (min-width: 800px) {
  
  header {
    align-self: center;
  }
  
  .logo img {
    width: 200px;
  }

  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }

  .btn img {
    height: 25px;
    width: 25px;
  }

  .allpost-view {
    grid-template-columns: 1fr 1fr;
  }

  .modal-content img {
    width: 500px;
    height: auto;
  }

}

@media (min-width: 1000px) {
  body {
    width: 1000px;
    margin: auto;
  }

  .modal-content img {
    width: 800px;
    height: auto;
  }

  .btn img {
    height: 35px;
    width: 35px;
  }
}
