@font-face {
    font-family: "American Typewriter";
    src: url(/fonts/FontsFree-Net-american-typewriter-1.ttf) format("truetype");
}

@font-face {
    font-family: "Montserrat";
    src: url(/fonts/Montserrat-Medium.ttf) format("truetype");
}
html, 
body {
    scroll-behavior: smooth;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: "Montserrat", 'Gill Sans MT', 'Gill Sans', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #FCFCFC;
    color: #707070;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "American Typewriter", 'Times New Roman', Times, serif;
  margin: 0px;
}

a {
    text-decoration: none;
    color: #707070;
}

header {
    display: grid;
    grid-template-columns: 300px 1fr;
    align-items: self-end;
    margin-bottom: 75px;
}

.logo {
    align-self: center;
}

.logo img {
    width: 150px;
    justify-self: center;
}

footer {
 text-align: center;
 position: fixed;
 bottom: 0;
 width: 100%;
 height: 60px;
}


main {
    max-width: 1000px;
    margin: auto;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 60px;
}


/* NAV DROPDOWN */

.header {
    background-color: #fff;
    box-shadow: 0px 0px 4px 0 rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    z-index: 3;
    height: 75px;
  }
  
  .menu {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #fff;
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
  }
  
    li {
    list-style: none;
    margin: 0px;
    margin: 0;
    padding: 0;
    }

  .list-item {
    display: block;
    padding: 20px 20px;

  }

    .menu-icon {
    cursor: pointer;
    display: inline-block;
    padding: 28px 20px;
    position: relative;
    justify-self: end;
  }
  
.menu-icon .navicon {
    background: #333;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
  }
  
.menu-icon .navicon:before,
 .menu-icon .navicon:after {
    background: #333;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
  }
  
.menu-icon .navicon:before {
    top: 5px;
  }
  
.menu-icon .navicon:after {
    top: -5px;
  }

 .menu-btn {
    display: none;
  }
  
.menu-btn:checked ~ .menu {
    max-height: 240px;
  }
  
   .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
  }
  
   .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
  }
  
  .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
  }
  
.menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
  .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
  }

  #active {
    text-decoration: underline;
}


/*Front page */

.fp-1 {
    height: 650px;
    display: grid;
    place-items: center;
  }
  
  .fp-1-slider {
    width: 100%;
    height: 400px;
    position: relative;
    overflow: hidden;
  }
  
  .slide {
    width: 100%;
    height: 350px;

  }

  .slide {
    position: absolute;
    transition: all 0.5s;
  }

.slide-outer {
    padding: 40px;
}

  .slide-inner, 
  .allposts{
    display: grid;
    grid-template-columns: 1fr 350px;
    box-shadow: 0px 0px 4px 0 rgba(0, 0, 0, 0.1);
  }

  .slide-selector {
    text-align: center;
    padding: 10px;
}

.btn {
    background: none;
    border: none;
}
  
  .btn:active {
    transform: scale(1.1);
  }
  
  .btn-prev {
    top: 45%;
    left: 2%;
  }
  
  .btn-next {
    top: 45%;
    right: 2%;
  }


  .postTitle {
    font-size: 3em;
    text-align: left;
  }

  .postImg {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

/* Contact */

.contact_cta {
    display: block;
    background-color: #010D26;
    color: #fff;
    width: 200px;
    height: 50px;
}

input, select, textarea {
    border-radius: 5px;
    border: 1px solid #010D26;
    margin: 10px 10px 10px 0px;
    padding: 10px;
}

textarea {
    height: 300px;
}

.contact_form, 
.contact_cta {
    font-family: "Montserrat", 'Gill Sans MT', 'Gill Sans', Calibri, 'Trebuchet MS', sans-serif;
    max-width: 1000px;
    margin: auto;
}

.form-wrapper {
    display: flex;
    flex-direction: column;
}

.form-wrapper > * {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.formerror {
    display: none;
    color: red;
    font-size: 0.9rem;
    margin-top: 2px;
}

.verification {
    text-align: center;
    padding: 50px;
}

.verify a {
    text-decoration: underline;
    font-size: 1.5em;
}

/* My Journey */

.myj-1-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 200px;
}

.myj-1-container img {
    justify-self: center
}

.myj-2-container {
    display: grid;
    grid-template-columns: 450px 1fr;
    margin-top: 80px;
}

.myj-po-sign {
    align-self: end;
}

.myj-po-sign p {
    margin: 5px;
}

.myj-po-sign h2 {
    margin: 5px;
}

/* Spesific Post */

.spesificPost {
    max-width: 1200px;
}

.spesificPost img {
    max-width: 1000px;
    height: auto;
}

.spesificPost h2 {
    font-size: 50px;
}

@media (min-width: 900px) {
    .header li {
      float: left;
    }
    .header li a {
      padding: 20px 30px;
    }
    .header .menu {
      clear: none;
      float: right;
      max-height: none;
    }
    .header .menu-icon {
      display: none;
    }
  }